*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url('wp6124196.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
}
.nav{
    display: flex;
    gap:10px;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    padding:30px;
    align-items: center;
}
.nav-google{
    z-index:2:
}
a{
    text-decoration: none;
    color: white;
}
#google-app-continer{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
#google-app{
    display: grid;
    grid-template-areas: "a a a"
                         "a a a"
                         "a a a";
    grid-template-columns: 70px 70px 70px ;
    grid-template-rows: auto;
    justify-content: space-around;
    gap: 3px;
    overflow: auto;
    scroll-behavior: smooth;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin-top: -30px;
    margin-right: 20px;
    background-color: black;
    z-index: 1;
}
.line{
    border-top: 2px solid gray;
    grid-column: 1 / 4; 
}
.google{
    display: flex;
    justify-content: center;
    margin-top:-450px;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: -150px;  
}
.continer{
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    width: 100%;
    background-color: white;
}
.searchcontiner,.searchcontiner:focus{
    border: none;
    font-size: 20px;
    outline: none;
}
.add-continer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 30px;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
   
}
#add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 52px;
    height: 52px;
    border:2px solid inherit;
    border-radius: 50%;
}
p{
    color: white;
    font-size: 24px;
}
.c-dialog-url{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 374px;
    height: 285px;
    padding: 10px;    
}
#dialog-url{
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
}
.but{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 5px;  
}
::backdrop{
    background-image: linear-gradient(
     45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
  }
  .dialog-input{
    padding: 5px;
   font-size: 20px;
  }
  .dialog-button{
    width: 40px;
    height: 30px;
    margin-top: 15px;
  }
.bottom-bar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3%;
    width: 100%;
    height: 7%;
    position: fixed;
    bottom: 0px;
    background-color: black;
    color: white;
}
.bot-link{
    padding: 1%;
}
.bot-link:hover{
    text-decoration: underline;
    
}
 
  
